@rendermode InteractiveServer

<h3>ComponentSubject</h3>

@using DataModels.Models
@inject HttpClient Http

@if (subjects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Ordinal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subj in subjects)
            {
                <tr>
                    <td>@subj.SubjectType</td>
                    <td>@subj.SubjectName</td>
                    <td>@subj.Ordinal</td>
                </tr>
            }
        </tbody>
    </table>
}

<h2>Add Subject</h2>

<b>Subject Type</b>
<InputSelect @bind-Value="@newSubject.SubjectType">

    @foreach (var sType in Enum.GetValues(typeof(SubjectTypeEnum)))
    {
        <option value="@sType">@sType</option>
    }
</InputSelect>

<b>Name</b>
<input @bind="newSubject.SubjectName" />

<b>Ordinal</b>
<input @bind="newSubject.Ordinal" />

<p>Current count: @clickCounter</p>
<button @onclick="AddSubject">Add</button>

<br />
<b>ordinal entered: </b>
@newSubject.Ordinal

@code {
    public Subject[] subjects { get; set; }

    public int clickCounter = 0;

    public Subject newSubject { get; set; } = new Subject();

    protected override async Task OnInitializedAsync()
    {
        subjects = await Http.GetFromJsonAsync<Subject[]>("api/Subject/AllSubjects");
    }

    protected async Task AddSubject()
    {
        clickCounter++;
        await Http.PostAsJsonAsync<Subject>("api/Subject/Add", newSubject);
        subjects = await Http.GetFromJsonAsync<Subject[]>("api/Subject/AllSubjects");
    }
}
