@rendermode InteractiveServer

<PageTitle>Books</PageTitle>

@inject SHcx cx;
@inject CustomHttpClientService Http
@inject SefariaService SefariaService

@using DataModels.Data
@using DataModels.Models
@using DataModels.Services
@using Newtonsoft.Json.Linq

@page "/books"

<h3>BooksComponent</h3>

@* @if (books == null)
{
    <p><em>Loading...</em></p>
}
else if (selectedBook == null)
{
    <h4>Select a Book</h4>
    <ul>
        @foreach (var book in books)
        {
            <li @onclick="() => LoadBookTopics(book)">@book.HebrewBookName</li>
        }
    </ul>
}
else if (selectedSubject == null)
{
    <h4>Select a Subject in @selectedBook.HebrewBookName</h4>
    <ul>
        @foreach (var subject in selectedBook.Subjects)
        {
<<<<<<< HEAD
            <li @onclick="() => SelectSubject(subject)">@subject.SubjectName</li>
=======
            <li @onclick="() => SelectTopic(topic)">@topic.SubjectName</li>
>>>>>>> 98a283474309fc3f8bdba4c36b57c44ec9580c10
        }
    </ul>
    <button @onclick="DeselectBook">Back to Books</button>
}
@* else
{
    <h4>Subject Detail: @selectedSubject.SubjectName</h4>
    // <p>@selectedSubject.SubjectText?.SubjectTextContent</p>
    <ul style="direction:rtl;font-size:xx-large">
        @foreach (var item in TextData)
        {
            <li>@((MarkupString)item)</li>
        }
    </ul>
    <button @onclick="DeselectSubject">Back to Subjects</button>
    <button @onclick="DeselectBook">Back to Books</button>
} *@
@* 
else
{
    <h4>Topic Detail: @selectedSubject.SubjectName</h4>
    // <p>@selectedSubject.SubjectText?.SubjectTextContent</p>
    <ul style="direction:rtl;font-size:xx-large">
        @foreach (var item in TextData)
        {
            <li>@((MarkupString)item)</li>
        }
    </ul>
    <button @onclick="DeselectTopic">Back to Topics</button>
    <button @onclick="DeselectBook">Back to Books</button>
}

<button @onclick="readDataFromSefaria">read data</button>



@code {
    public List<Book> books;
    public Book selectedBook;
    public Subject selectedSubject;

    public List<string> TextData => selectedSubject != null ?
                                 JArray.Parse(selectedSubject.SubjectText.SubjectTextContent)
<<<<<<< HEAD
                                .Select(x => x.ToString()).ToList() : new List<string>();
=======
                                .Select(x=>x.ToString()).ToList() : new List<string>();
>>>>>>> 98a283474309fc3f8bdba4c36b57c44ec9580c10


    protected override async Task OnInitializedAsync()
    {
        books = await Http.GetAsync<List<Book>>("api/Book/AllBooksIncludeSubjects");
    }

    public void SelectBook(Book book)
    {
        selectedBook = book;
    }

    public void DeselectBook()
    {
        selectedBook = null;
        selectedSubject = null;
    }

<<<<<<< HEAD
    public async Task SelectSubject(Subject subject)
    {
        if (subject.SubjectText == null)
        {
            subject.SubjectText = await Http.GetAsync<SubjectText>("api/Book/GetSubjectText/" + subject.SubjectId);
        }
        selectedSubject = subject;
=======
    public async Task SelectTopic(Subject topic)
    {
        if (topic.SubjectText == null)
        {
            topic.SubjectText = await Http.GetAsync<SubjectText>("api/Book/GetSubjectText/" + topic.SubjectId);
        }
        selectedSubject = topic;
>>>>>>> 98a283474309fc3f8bdba4c36b57c44ec9580c10
    }

    public void DeselectSubject()
    {
        selectedSubject = null;
    }

    public async Task readDataFromSefaria()
    {
        await SefariaService.FetchAndSaveAllBooks();
    }
}
