@rendermode InteractiveServer

@inject CustomHttpClientService Http
@inject LocalStorageService LocalStorageService
@inject ExamExecutionService ExamExecutionService
@inject NavigationManager Navigation

@using System.Text.Json
@using ShWeb.Components.BAServices
@using DataModels.Data
@using DataModels.Models
@using DataModels.Services

<div class="exam-container" dir="rtl">

    @if (Permission)
    {
        <button class="back-link" @onclick="NavigateBackToDailyInfo">
            חזרה <span class="rotated-arrow">↪</span>
        </button>
    }

    <!-- Header -->
    @if (Permission)
    {
        <div class="exam-header">
            @* <div class="header-right"> *@
            <span class="progress-indicator">
                <i class="bi bi-check-circle">  </i>
                ענית על @answeredQuestions שאלות מתוך @questionNum
            </span>
        </div>
    }

    <!-- Body -->
    <div class="exam-body">
        <!-- Question Content -->
        @if (currentQuestion != null)
        {
            <!-- Question Header -->
            <div class="question-header">
                <div class="header-left">
                    <h3 class="question-title">@examExecution.FromSubject.Book.HebrewBookName | @GetCorrectOrdinal(examExecution.FromSubject)</h3>
                    <h6 class="question-counter">שאלה מס' @(currentQuestionIndex + 1)</h6>
                </div>
                <div class="header-right">
                    <button class="hint-button" @onclick="getHint">
                        <i class="bi bi-lightbulb"></i> רמז
                    </button>
                    @if (!Permission)
                    {
                        <button class="edit-question-button" @onclick="() => OpenEditPopup(currentQuestion)">
                            <i class="bi bi-pen"></i> עריכת שאלה
                        </button>
                    }
                    <button class="back-button" @onclick="BackToAllExams">
                        <i class="bi bi-box-arrow-left"></i> יציאה
                    </button>
                </div>
            </div>
            @if (hintText != null)
            {
                <div class="hint-container">
                    <div class="hint-text">
                        @hintText
                    </div>
                </div>
            }

            <div class="question-container">
                <!-- Question Text -->
                <div class="question-text">
                    <h4>@currentQuestion.QuestionText</h4>
                </div>

                <!-- Question Options (Dynamic based on type) -->
                <div class="question-options">
                    @if (currentQuestion.QuestionType == QuestionTypeEnum.SelectQuestion)
                    {
                        <div class="answers-list">
                            @foreach (var answer in currentQuestion.Answers)
                            {
                                <div class="answer-option option @( GetAnswerClass(currentQuestionIndex,answer.AnswerId))">
                                    <input type="radio" id="@answer.AnswerId" name="option" value="@answer.AnswerId"
                                           checked="@IsAnswerSelected(answer.AnswerId)" @onchange="SelectAnswer"
                                           disabled="@(Permission ? null : true)" />
                                    <label for="@answer.AnswerId">@answer.AnswerText</label>
                                </div>
                            }
                        </div>
                    }
                    else if (currentQuestion.QuestionType == QuestionTypeEnum.OpenQuestion)
                    {
                        <textarea class="open-question-textarea @GetAnswerClass(currentQuestionIndex, currentQuestion.Answers.FirstOrDefault().AnswerId)" value="@examAnswers.ElementAt(currentQuestionIndex).TextAnswer" @oninput="UpdateOpenAnswerText"
                                  @onchange="openAnswer" readonly="@(!Permission ? true : null)"></textarea>
                    }
                </div>

                <!-- Navigation Buttons -->
                <div class="navigation-buttons">
                    <button class="prev-button" @onclick="PrevQuestion" disabled="@isFirstQuestion">הקודם</button>
                    <button class="next-button" @onclick="NextQuestion" disabled="@isLastQuestion">הבא</button>
                    @if (answeredQuestions == questionNum && Permission)
                    {
                        <button class="end-test-button" @onclick="EndTest">בדיקה</button>
                    }
                </div>
            </div>
        }
        @* </div> *@
    </div>

    <!-- Footer -->
    <div class="exam-footer">
        <!-- Pagination Table -->
        <div class="question-number-table no-radio">
            <table>
                <tbody>
                    <h5 class="question-progress">שאלה @(currentQuestionIndex + 1) מתוך @questionNum</h5>
                    <tr>
                        @for (int i = 0; i < questionNum; i++)
                        {
                            @* <td class="@(Permission ? ((i == currentQuestionIndex) ? "current" : (answeredQuestionsArray[i] ?  "") :  (GetAnswerClass((int)examAnswers.ElementAt(i).AnswerId)))"> *@
                            @* <td class="@GetCellClass(i, (int)examAnswers.ElementAt(i).AnswerId)"> *@
                            <td class="@GetCellClass(i)">
                                <label>
                                    <input type="radio" name="questionNumber" value="@i" checked="@(i == currentQuestionIndex)" @onchange="GoToQuestion" />
                                    <span @* class="circle" *@></span>
                                </label>
                            </td>
                            <small>@(i + 1)</small>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Timer -->
        <div class="timer-container">
            @if (Permission)
            {
                <div class="timer-circle">
                    <span class="time-text">@remainingTime</span>
                    <span class="time-label">נותרו</span>
                </div>
                <div class="total-time">
                    <span class="time-label">@examDuration.ToString(@"mm\:ss") דקות</span>
                </div>
            }
            else
            {
                <div class="timer-circle">
                    <span class="time-text">@totalTime.ToString(@"mm\:ss")</span>
                    <span class="time-label">דקות</span>
                </div>
                <div class="total-time">
                    <span class="time-label">@examDuration.ToString(@"mm\:ss") דקות</span>
                </div>
            }
        </div>
    </div>

    @if (showEditPopup)
    {
        <div class="modal-overlay">
            <div class="modal-content">
                <button class="close-button" @onclick="CloseEditPopup">✖</button>
                <h3>עריכת שאלה</h3>

                <label>נושא</label>
                <select @bind="editingQuestion.SubjectId">
                    @foreach (var subject in subjects)
                    {
                        <option value="@subject.SubjectId">@subject.SubjectName</option>
                    }
                </select>

                <label>סוג שאלה</label>
                <input type="text" @bind="editingQuestion.QuestionType" disabled />

                <label>השאלה</label>
                <input type="text" @bind="editingQuestion.QuestionText" class="form-control" />

                @if (editingQuestion.QuestionType == QuestionTypeEnum.OpenQuestion)
                {
                    <label>תשובה נכונה</label>
                    <textarea @bind="correctAnswerText" class="form-control"></textarea>
                }
                else if (editingQuestion.QuestionType == QuestionTypeEnum.SelectQuestion)
                {
                    <label>תשובות</label>
                    @foreach (var answer in answers.Select((answer, index) => new { answer, index }))
                    {
                        <div class="answer-option">
                            <input type="radio" name="correctAnswer" @onclick="() => MarkCorrectAnswer(answer.index)" checked="@answer.answer.IsCorrectAnswer" />
                            <input type="text" @bind="answer.answer.AnswerText" class="form-control" />
                        </div>
                    }
                }

                <label>רמז</label>
                <input type="text" @bind="editingQuestion.Hint" class="form-control" />

                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="alert alert-danger">
                        @errorMessage
                    </div>
                }
                <div class="modal-actions">
                    <button class="btn btn-secondary" @onclick="CloseEditPopup">ביטול</button>
                    <button class="btn btn-primary" @onclick="SaveEditedQuestion">שמור שינויים</button>
                </div>
            </div>
        </div>
    }

</div>

@* <ConfirmationPopupComponent @ref="confirmationDialog"></ConfirmationPopupComponent> *@

<style>
    .back-link {
        background: none;
        border: none;
        color: #333;
        font-size: 1rem;
        font-family: inherit;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        padding: 0;
        text-decoration: none;
        line-height: 1;
        flex-direction: row-reverse;
        direction: rtl;
        margin-left: 40px;
        margin-top: 20px;
    }

        .back-link:hover {
            text-decoration: underline;
        }

        .back-link .rotated-arrow {
            transform: rotate(180deg);
            margin-left: 6px;
            font-size: 1rem;
            vertical-align: middle;
            display: inline-block;
            line-height: 1;
        }

    .exam-container {
        width: 1200px;
        background-color: #FFFFFF;
        border-radius: 8px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        font-family: Arial, sans-serif;
    }

    .exam-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        padding: 5px 10px;
    }

    .progress-indicator {
        background-color: #FFFFFF;
        border: 1px solid #FEC000;
        padding: 7px 17px;
        border-radius: 12px;
        font-size: 16px;
        color: #003366;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin: auto;
        width: fit-content;
    }

        .progress-indicator i {
            margin-left: 8px;
        }

    .exam-body {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .question-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: #003366;
    }

    .header-left {
        text-align: right;
    }

    .header-right {
        display: flex;
    }

        .header-right button {
            background-color: white;
            color: #003366;
            padding: 5px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .header-right i {
            font-size: 16px;
        }

    .question-container {
        background-color: #FFFFFF;
        border: 1px solid #D1D5DB;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .question-text {
        font-size: 18px;
        font-weight: 600;
        color: #003366;
        margin-bottom: 20px;
    }

    .answers-list {
        margin-bottom: 20px;
    }

    .answer-option {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        font-size: 16px;
        font-family: Arial, sans-serif;
    }

        .answer-option input[type="radio"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #003366;
            border-radius: 50%;
            outline: none;
            margin-right: 10px;
            position: relative;
            cursor: pointer;
        }

            .answer-option input[type="radio"]:checked::before {
                content: "✔";
                color: #003366;
                font-weight: bold;
                font-size: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        .answer-option label {
            cursor: pointer;
            color: #003366;
            font-weight: normal;
            transition: font-weight 0.2s ease-in-out;
            margin-right: 10px;
        }

        .answer-option input[type="radio"]:checked + label {
            font-weight: bold;
            color: #003366;
        }

    .open-question-textarea {
        width: 100%;
        height: 150px;
        border: 1px solid #D1D5DB;
        border-radius: 8px;
        padding: 15px;
        font-size: 16px;
        color: #374151;
    }

    .navigation-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
    }

        .navigation-buttons button {
            background-color: #003366;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s;
        }

            .navigation-buttons button:hover {
                background-color: #003366;
            }

        .navigation-buttons .end-test-button {
            background-color: #FBBF24;
            color: #1F2937;
        }

            .navigation-buttons .end-test-button:hover {
                background-color: #F59E0B;
            }

    .hint-container {
        margin-top: 20px;
        padding: 10px;
        background-color: #f8f9fa;
        border-radius: 8px;
        font-size: 16px;
        color: #333;
        text-align: right;
        direction: rtl;
        display: inline-block;
    }

    .hint-text {
        color: #003366;
        font-weight: bold;
    }

    .hint-container.hidden {
        display: none;
    }

    .exam-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #FFFFFF;
        border-top: 1px solid #E5E5E5;
        color: #003366;
    }

    .timer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .timer-circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid #FEC000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        color: #003366;
        font-weight: bold;
        text-align: center;
    }

    .time-text {
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }

    .time-label {
        font-size: 15px;
        color: #003366;
    }

    .totl-time {
        margin-top: 5px;
    }

    .question-progress {
        margin-bottom: 15px;
    }

    .question-number-table {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

        .question-number-table tr {
            border-color: inherit;
            border-style: solid;
            border-width: 0;
            display: flex;
            gap: 5px;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
            margin: 23px;
        }

        .question-number-table td {
            width: 15px;
            height: 15px;
            border: 2px solid #003366;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            cursor: pointer;
            text-align: center;
            color: #003366;
        }

    td.current {
        background-color: #FEC000;
    }

    td.answered {
        background-color: #003366;
        color: #FFFFFF;
    }

    td.unanswered {
        background-color: #FFFFFF;
    }

    .question-number-table td label {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .no-radio input[type="radio"] {
        display: none;
    }

    .correct-answer {
        background-color: #00c366b3;
    }

    .incorrect-answer {
        background-color: #ff0d0d99;
    }

    .partially-correct-answer {
        background-color: #ffa11499;
    }

    .unanswered-check {
        background-color: #828282;
    }

    .current-check {
        height: 23px !important;
        width: 23px !important;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .modal-content {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        max-width: 600px;
        width: 100%;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        position: relative;
        direction: rtl;
    }

    .close-button {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .modal-content h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .modal-content input, .modal-content textarea, .modal-content select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #e2e8f0;
        border-radius: 5px;
        font-size: 14px;
    }

    .modal-actions {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }

        .modal-actions .btn {
            padding: 10px 20px;
            font-size: 14px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .modal-actions .btn-primary {
            background-color: #003366;
            color: white;
        }

        .modal-actions .btn-secondary {
            background-color: #e2e8f0;
            color: #2d3748;
        }
</style>

@code {
    [Parameter]
    public bool Permission { get; set; }

    [Parameter]
    public int examExecutionId { get; set; }

    [Parameter]
    public int currentQuestionIndex { get; set; }

    private User currentUser { get; set; }

    public ConfirmationPopupComponent confirmationDialog; //for popup

    public ExamExecution examExecution;
    public int questionNum;

    public ICollection<ExamAnswer> examAnswers;
    public BaseQuestion currentQuestion;
    public string currentOpenAnswerText;
    public Subject[] subjects { get; set; }

    public bool isFirstRender = true;
    public bool endTest = false;

    public string elapsedTime = "00:00";
    public string remainingTime = "15:00";
    public System.Timers.Timer elapsedTimer;
    public System.Timers.Timer remainingTimer;
    public DateTime startTime;
    public TimeSpan examDuration = TimeSpan.FromMinutes(15);
    public TimeSpan totalTime;

    public DateTime questionStartTime; // Question Time
    private bool[] answeredQuestionsArray;
    private string[] answersCorrectnessLevelArray;
    private string hintText;

    public string previousLocation; //location before navigate to other page in app

    private bool isFirstQuestion => currentQuestionIndex == 0;
    private bool isLastQuestion => currentQuestionIndex == questionNum - 1;
    private int answeredQuestions => examAnswers?.Count(e => !string.IsNullOrEmpty(e.TextAnswer) || e.AnswerId != null) ?? 0;

    private bool showEditPopup = false;
    private UserQuestion editingQuestion { get; set; } = new UserQuestion();
    private List<Answer> answers { get; set; } = new List<Answer>();
    private string correctAnswerText = string.Empty;
    private string errorMessage = string.Empty;


    protected async override void OnInitialized()
    {
        Navigation.LocationChanged += OnLocationChanged;
        previousLocation = Navigation.Uri; // Initialize with the current location on load
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUser = await Http.GetAsync<User>("api/auth/GetCurrentUser");
            if (currentUser == null)
            {
                Navigation.NavigateTo("/login");
                return;
            }

            if (isFirstRender)
            {
                if (Permission == true)//if false currentQuestionIndex = 0 from parameter
                    currentQuestionIndex = await LocalStorageService.GetFromLocalStorageAsync<int>($"currentQuestionIndex_{examExecutionId}");
                else
                    currentQuestionIndex = 0;
                // First render, check if examExecution is in local storage
                elapsedTime = await LocalStorageService.GetFromLocalStorageAsync<string>("elapsedTime") ?? "00:00";
                remainingTime = await LocalStorageService.GetFromLocalStorageAsync<string>("remainingTime") ?? "15:00";

                examExecution = await LocalStorageService.GetFromLocalStorageAsync<ExamExecution>($"examExecution_{examExecutionId}");
                if (examExecution == null)
                {
                    // If not found in local storage, fetch from the database
                    examExecution = await Http.GetAsync<ExamExecution>($"api/Exam/ExamExecution?ExamExecutionId={examExecutionId}");
                    // examAnswers = examExecution.ExamAnswers;
                    if (examExecution.ExamAnswers.Count == 0 && Permission)
                    {
                        ExamExecutionService.SelectQuestionsCreateExamAnswers(examExecution);
                        examAnswers = examExecution.ExamAnswers;
                    }
                    else
                        examAnswers = examExecution.ExamAnswers;
                    // examAnswers = await Http.GetAsync<ICollection<ExamAnswer>>($"api/Exam/ExamAnswers?ExamExecutionId={examExecutionId}"); ??

                    questionNum = examAnswers.Count;
                    SetCurrentQuestion();
                    startTime = DateTime.Now;
                    if (Permission)
                        InitializeTimers();
                }
                else
                {
                    // examAnswers = examExecution.ExamAnswers;
                    if (examExecution.ExamAnswers.Count == 0 && Permission)
                    {
                        ExamExecutionService.SelectQuestionsCreateExamAnswers(examExecution);
                        examAnswers = examExecution.ExamAnswers;
                    }
                    else
                        examAnswers = examExecution.ExamAnswers;
                    questionNum = examAnswers.Count;
                    SetCurrentQuestion();
                    startTime = DateTime.Now.Add(TimeSpan.Parse(elapsedTime).Negate());
                    if (Permission)
                        InitializeTimers(); // TimeSpan.Parse(remainingTime));
                }
                isFirstRender = false; // Update the flag
            }
            else
            {
                // Subsequent renders, load examExecution from local storage
                examExecution = await LocalStorageService.GetFromLocalStorageAsync<ExamExecution>($"examExecution_{examExecutionId}");

                // Restore state from local storage
                currentQuestionIndex = await LocalStorageService.GetFromLocalStorageAsync<int>($"currentQuestionIndex_{examExecutionId}");
                elapsedTime = await LocalStorageService.GetFromLocalStorageAsync<string>($"elapsedTime_{examExecutionId}");// ?? "00:00:00";
                remainingTime = await LocalStorageService.GetFromLocalStorageAsync<string>($"remainingTime_{examExecutionId}");// ?? "00:15:00";

                if (examExecution != null)
                {
                    // examAnswers = examExecution.ExamAnswers;
                    if (examExecution.ExamAnswers.Count == 0 && Permission)
                    {
                        ExamExecutionService.SelectQuestionsCreateExamAnswers(examExecution);
                        examAnswers = examExecution.ExamAnswers;
                    }
                    else
                        examAnswers = examExecution.ExamAnswers;
                    questionNum = examAnswers.Count;
                    SetCurrentQuestion();
                    startTime = DateTime.Now.Add(TimeSpan.Parse(elapsedTime).Negate());
                    if (Permission)
                        InitializeTimers();
                }
            }
            answeredQuestionsArray = new bool[questionNum];
            answersCorrectnessLevelArray = new string[questionNum];

            for (int i = 0; i < questionNum; i++)
            {
                answeredQuestionsArray[i] = false;

                if (!Permission)
                {
                    var answerId = examAnswers.ElementAt(i)?.AnswerId;

                    if (answerId.HasValue)
                    {
                        answersCorrectnessLevelArray[i] = GetAnswerClass(i, answerId.Value);
                    }
                }
            }

            if (!Permission)
            {
                totalTime = TimeSpan.Zero;

                foreach (var examAnswer in examExecution.ExamAnswers)
                {
                    totalTime = totalTime.Add(examAnswer.TimeSpent);
                }
            }

            subjects = await Http.GetAsync<Subject[]>("api/Subject/AllSubjects");

            StateHasChanged(); // Trigger a re-render
        }
    }

    private async void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        string currentLocation = e.Location;

        Console.WriteLine($"Navigated from: {previousLocation} to: {currentLocation}");

        // Check if the previous location is "/exam/"
        if (previousLocation.StartsWith(Navigation.BaseUri + "exam/") && Permission && !endTest)
        {
            examExecution.ExamStatus = ExamStatusEnum.Partially_Completed;//אחרי לחיצה על סיום מבחן Partially_Completed
                                                                          // await Http.PutAsync<ExamExecution, object>("api/Exam/ExamExecution", examExecution);
            await SaveDataToLocalStorage(); //fix
        }
        // Update the previous location
        previousLocation = currentLocation;

        //for popup-leave
        // if (previousLocation.StartsWith(Navigation.BaseUri + "exam/") && Permission)
        // {

        //     bool confirmed = confirmationDialog.Show("Are you sure you want to navigate away? Any unsaved data will be lost.");
        //     if (confirmed)
        //     {
        //         await SaveDataToLocalStorage();
        //     }
        //     else
        //     {
        //         // Cancel navigation
        //         Navigation.NavigateTo(previousLocation);
        //     }
        // }
        // // Update the previous location
        // previousLocation = currentLocation;
    }

    public void Dispose()
    {
        elapsedTimer?.Dispose();
        remainingTimer?.Dispose();
        Navigation.LocationChanged -= OnLocationChanged;
    }

    private async Task InitializeTimers(TimeSpan? remaining = null)
    {
        elapsedTimer = new System.Timers.Timer(1000);
        elapsedTimer.Elapsed += (sender, e) =>
        {
            elapsedTime = (DateTime.Now - startTime).ToString(@"hh\:mm\:ss");
            InvokeAsync(StateHasChanged);
        };
        elapsedTimer.Start();

        remainingTimer = new System.Timers.Timer(1000);
        remainingTimer.Elapsed += (sender, e) =>
        {
            var remainingTimeSpan = remaining.HasValue ? remaining.Value : examDuration - (DateTime.Now - startTime);
            remainingTime = remainingTimeSpan.ToString(@"mm\:ss");
            if (remainingTimeSpan <= TimeSpan.Zero)
            {
                remainingTimer.Stop();
                EndTest();
            }
            InvokeAsync(StateHasChanged);
        };
        remainingTimer.Start();
    }

    public string GetCorrectOrdinal(Subject subject)
    {
        return subject.Book.BookType switch
        {
            BookTypeEnum.Chumash => $"פרק {HebrewNumberConverter.ConvertToHebrew((int)subject.Ordinal)}",
            BookTypeEnum.Neviim => $"פרק {HebrewNumberConverter.ConvertToHebrew((int)subject.Ordinal)}",
            BookTypeEnum.Ketuvim => $"פרק {HebrewNumberConverter.ConvertToHebrew((int)subject.Ordinal)}",
            BookTypeEnum.Gemara => $"דף {HebrewNumberConverter.ConvertToHebrew((int)subject.Ordinal)}",
            BookTypeEnum.Mishna => $"דף {HebrewNumberConverter.ConvertToHebrew((int)subject.Ordinal)}",
            _ => "לא ידוע"
        };
    }

    private async Task SaveDataToLocalStorage() //index, timers, examExecution
    {
        elapsedTimer?.Stop();
        remainingTimer?.Stop();
        await LocalStorageService.StoreInLocalStorageAsync($"currentQuestionIndex_{examExecutionId}", currentQuestionIndex);
        await LocalStorageService.StoreInLocalStorageAsync($"elapsedTime_{examExecutionId}", elapsedTime);
        await LocalStorageService.StoreInLocalStorageAsync($"remainingTime_{examExecutionId}", remainingTime);
        await LocalStorageService.StoreInLocalStorageAsync($"examExecution_{examExecutionId}", examExecution);
        Console.WriteLine("data saved to local storage.");
    }

    private void SetCurrentQuestion()
    {
        if (examAnswers != null && examAnswers.Any())
        {
            hintText = string.Empty;
            currentQuestion = examAnswers.ElementAt(currentQuestionIndex).BaseQuestion;
            questionStartTime = DateTime.Now;
            examExecution.CurrentQuestion = currentQuestion;
        }
    }

    private bool IsAnswerSelected(int answerId)
    {
        var existingAnswer = examAnswers.FirstOrDefault(ea => ea.BaseQuestionId == currentQuestion.BaseQuestionId);
        return existingAnswer != null && existingAnswer.AnswerId == answerId;
    }

    private void SelectAnswer(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int selectedAnswerId))
        {
            var selectedAnswer = currentQuestion.Answers.FirstOrDefault(a => a.AnswerId == selectedAnswerId);
            if (selectedAnswer != null)
            {
                var existingAnswer = examAnswers.FirstOrDefault(ea => ea.BaseQuestionId == currentQuestion.BaseQuestionId);
                if (existingAnswer != null)
                {
                    existingAnswer.Answer = selectedAnswer;
                    existingAnswer.AnswerId = selectedAnswer.AnswerId;
                }
                // Update answeredQuestionsArray for the current question
                answeredQuestionsArray[currentQuestionIndex] = true;

                // Add updated answers to examExecution
                examExecution.ExamAnswers = examAnswers;
            }
        }
    }

    private void UpdateOpenAnswerText(ChangeEventArgs e)
    {
        if (!string.IsNullOrWhiteSpace(e.Value.ToString()))
        {
            answeredQuestionsArray[currentQuestionIndex] = true;
            currentOpenAnswerText = e.Value.ToString();
        }
        else
        {
            answeredQuestionsArray[currentQuestionIndex] = false;
            currentOpenAnswerText = string.Empty;
        }
    }

    private void openAnswer(ChangeEventArgs e)
    {
        currentOpenAnswerText = e.Value.ToString();
        var existingAnswer = examAnswers.FirstOrDefault(ea => ea.BaseQuestionId == currentQuestion.BaseQuestionId);
        var currentAnswer = currentQuestion.Answers.FirstOrDefault();
        if (existingAnswer != null)
        {
            existingAnswer.TextAnswer = currentOpenAnswerText;
            existingAnswer.Answer = currentAnswer;
            existingAnswer.AnswerId = currentAnswer?.AnswerId;
        }

        // Add updated answers to examExecution
        examExecution.ExamAnswers = examAnswers;
    }

    private void PrevQuestion()
    {
        if (currentQuestionIndex > 0)
        {
            if (Permission)
                UpdateCurrentQuestionTime();
            currentQuestionIndex--;
            hintText = string.Empty;
            SetCurrentQuestion();
        }
    }

    private void NextQuestion()
    {
        if (currentQuestionIndex < questionNum - 1)
        {
            if (Permission)
                UpdateCurrentQuestionTime();
            currentQuestionIndex++;
            hintText = string.Empty;
            SetCurrentQuestion();
        }
    }

    private void GoToQuestion(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int selectedIndex))
        {
            if (Permission)
            {
                UpdateCurrentQuestionTime();
            }
            currentQuestionIndex = selectedIndex;
            hintText = string.Empty;
            SetCurrentQuestion();
        }
    }

    private void UpdateCurrentQuestionTime()
    {
        var currentTime = DateTime.Now;
        var timeSpent = currentTime - questionStartTime;
        var existingAnswer = examAnswers.FirstOrDefault(ea => ea.BaseQuestionId == currentQuestion.BaseQuestionId);
        if (existingAnswer != null)
        {
            existingAnswer.TimeSpent += timeSpent;
        }
    }

    private string GetAnswerClass(int index, int answerId)
    {
        if (!Permission)
        {
            var currentExamAnswer = examAnswers.ElementAt(index);

            if (!currentExamAnswer.AnswerCorrectnessLevel.HasValue)
                return "";

            // Check if this answer is the one selected by the user
            if (currentExamAnswer.Answer?.AnswerId == answerId)
            {
                switch (currentExamAnswer.AnswerCorrectnessLevel)
                {
                    case AnswerCorrectnessLevelEnum.Correct:
                        return "correct-answer";
                    case AnswerCorrectnessLevelEnum.Wrong:
                        return "incorrect-answer";
                    case AnswerCorrectnessLevelEnum.PartiallyCorrect:
                        return "partially-correct-answer";
                    default:
                        return "";
                }
            }
        }
        return "";
    }

    // private string GetCellClass(int index, int answerId)
    // {
    //     if (Permission)
    //     {
    //         if (index == currentQuestionIndex) return "current";
    //         if (answeredQuestionsArray[index]) return "answered";
    //         return "unanswered";
    //     }

    //     return GetAnswerClass(answerId);
    // }

    private string GetCellClass(int index)
    {
        if (Permission)
        {
            if (index == currentQuestionIndex) return "current";
            if (answeredQuestionsArray[index]) return "answered";
            return "unanswered";
        }

        // var answerId = examAnswers.ElementAt(index)?.AnswerId;
        // if (answerId.HasValue)
        // {
        //     return GetAnswerClass(answerId.Value);
        // }

        if (index == currentQuestionIndex) return "current-check" + " " + answersCorrectnessLevelArray[index];
        //if didn't answer a question - give class unanswered-check --??
        return answersCorrectnessLevelArray[index];
    }

    private async Task getHint()
    {
        try
        {
            hintText = currentQuestion.Hint;
            if (string.IsNullOrEmpty(hintText))
            {
                hintText = "אין רמז לשאלה זו.";
            }

            StateHasChanged();
        }
        catch (Exception ex)
        {
            hintText = "שגיאה בטעינת הרמז.";
            Console.WriteLine(ex.Message);
            StateHasChanged();
        }
    }

    // פתיחת פופ-אפ לעריכת שאלה
    private async void OpenEditPopup(BaseQuestion question)
    {
        showEditPopup = true;

        if (question.DiscriminatorRF == "Question")
        {
            editingQuestion = new UserQuestion
                {
                    OriginalQuestionId = question.BaseQuestionId,
                    QuestionText = question.QuestionText,
                    QuestionType = question.QuestionType,
                    SubjectId = question.SubjectId,
                    Hint = question.Hint,
                    UserId = currentUser.Id
                };

            Question questionIncludeAnswers = await Http.GetAsync<Question>($"api/Question/getQuestion?questionId={question.BaseQuestionId}");
            answers = questionIncludeAnswers.Answers.ToList();
        }
        else if (question.DiscriminatorRF == "UserQuestion")
        {
            // עריכת UserQuestion קיים
            editingQuestion = new UserQuestion
                {
                    BaseQuestionId = question.BaseQuestionId,
                    QuestionText = question.QuestionText,
                    QuestionType = question.QuestionType,
                    SubjectId = question.SubjectId,
                    Hint = question.Hint,
                    UserId = currentUser.Id
                };

            UserQuestion questionIncludeAnswers = await Http.GetAsync<UserQuestion>($"api/Question/getUserQuestion?questionId={question.BaseQuestionId}");
            answers = questionIncludeAnswers.Answers.ToList();
        }

        correctAnswerText = editingQuestion.QuestionType == QuestionTypeEnum.OpenQuestion && answers.Any() ? answers.First().AnswerText : string.Empty;
        StateHasChanged(); // Force UI update
    }

    private void InitializeAnswers()
    {
        answers.Clear();
        for (int i = 0; i < 4; i++)
        {
            answers.Add(new Answer
                {
                    AnswerText = string.Empty,
                    IsCorrectAnswer = false
                });
        }
    }

    private void CloseEditPopup()
    {
        showEditPopup = false;

        editingQuestion = new UserQuestion();
        InitializeAnswers(); // Reset the answers list after adding a question
        errorMessage = string.Empty;// Reset error message if valid
    }

    private async Task SaveEditedQuestion()
    {
        if (editingQuestion.SubjectId == 0)
        {
            errorMessage = "בחר נושא";
            return;
        }

        if (string.IsNullOrWhiteSpace(editingQuestion.QuestionText) || (editingQuestion.QuestionType == QuestionTypeEnum.OpenQuestion && string.IsNullOrWhiteSpace(correctAnswerText)))
        {
            errorMessage = "הכנס שאלה ותשובה";
            return;
        }

        if (string.IsNullOrWhiteSpace(editingQuestion.QuestionText))
        {
            errorMessage = "הכנס שאלה";
            return;
        }

        if (editingQuestion.QuestionType == QuestionTypeEnum.SelectQuestion && answers.Count < 4)
        {
            errorMessage = "הכנס לפחות 4 תשובות";
            return;
        }

        // Check if any answer is empty, null, or whitespace
        if (editingQuestion.QuestionType == QuestionTypeEnum.SelectQuestion && answers.Any(a => string.IsNullOrWhiteSpace(a.AnswerText)))
        {
            errorMessage = "הכנס את כל התשובות";
            return;
        }

        // Add answers based on question type
        if (editingQuestion.QuestionType == QuestionTypeEnum.OpenQuestion)
        {
            editingQuestion.Answers = new List<Answer>
            {
                new Answer
                {
                    AnswerText = correctAnswerText,
                    IsCorrectAnswer = false
                }
            };
        }
        else if (editingQuestion.QuestionType == QuestionTypeEnum.SelectQuestion)
        {
            // Ensure at least one correct answer is set
            var correctAnswerExists = answers.Any(a => a.IsCorrectAnswer);
            if (!correctAnswerExists)
            {
                errorMessage = "סמן את התשובה הנכונה";
                return;
            }

            editingQuestion.Answers = answers; // Add all answers for Select questions
        }

        editingQuestion.UserId = currentUser.Id;
        // editingQuestion.Hint
        await Http.PutAsync<UserQuestion, string>("api/Question/Edit", editingQuestion);
        // await RefreshQuestionsAndResetInputs();
        showEditPopup = false;
    }

    private void MarkCorrectAnswer(int index)
    {
        for (int i = 0; i < answers.Count; i++)
        {
            answers[i].IsCorrectAnswer = (i == index);
        }
    }


    private async void EndTest()
    {
        endTest = true;
        UpdateCurrentQuestionTime();

        // Stop the timers
        elapsedTimer.Stop();
        remainingTimer.Stop();

        // Add updated answers to examExecution
        examExecution.ExamAnswers = examAnswers;

        examExecution.ExamStatus = ExamStatusEnum.WaitingForReview;

        // Update exam execution with end time and save it
        examExecution.EndTime = DateTime.Now;
        await Http.PutAsync<ExamExecution, object>("api/Exam/ExamExecution", examExecution);

        //process examExecutions by memory level
        ExamExecutionService.ProcessExamExecution(examExecution);

        // Navigate to the Exam Component
        Navigation.NavigateTo($"/daily-exam");
    }

    private async Task BackToAllExams()
    {
        await SaveDataToLocalStorage(); //fix - show popup?

        Navigation.NavigateTo($"/daily-exam");
    }

    private async Task NavigateBackToDailyInfo()
    {
        await SaveDataToLocalStorage(); //fix - show popup?

        Navigation.NavigateTo("/daily-exam");
    }
}
